*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;
}


.page-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.page-info a {
    text-decoration: none;
    color: black; /* Bootstrap primary color */
    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid gray;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.page-info a:hover {
    background-color: black;
    color: white;
}

.page-number {
    display: flex;
}

.page-info a.active {
    background-color: black;
    color: white;
    border: 1px solid black;
}

.page-info a:first-child {
    margin-left: 0;
}

.page-info a:last-child {
    margin-right: 0;
}
